/*全局样式*/
body,p,ul,dd,li,img,em,h1,h2,h3,h4 { padding:0; margin:0; }
html { background: green; }
body { width:980px; height:1386px; background: #fff; }
li,dl { list-style: none; }
a { text-decoration: none; }

/*公用样式*/
.fl { float:left; }
.fr { float:right; }
.clear { zoom:1; }
.clear:after { clear:both; display: block; content: ''; height:0; width:0; visibility: hidden; }
.size12 { font-size:12px; }
.size16 { font-size:16px; }

/*主体结构*/
.header { width:892px; height:61px; border-bottom:2px solid #938e8c; margin:0 auto; }
.header .logo { width:110px; height:61px; background: #d55d5c; color:#fff; line-height: 104px; }
.header .date { color:#d45d5c; margin-top: 46px; }

.content { width:892px; margin:0 auto; }
.img { position: relative; }
.img img { width:641px; height: 301px; margin:32px 0; }
.img .left-bg,.img .right-bg { width:191px; height:301px; background: green; opacity: 0.5; filter: alpha( opacity=50 ); position: absolute; z-index: 2; top:32px; }
.img .right-bg { background: red; top:32px; left:450px; }

.center li { float:left; margin-right:30px; }
.center p { font-size:12px; color:#231815; font-family: '微软雅黑'; line-height: 16px; opacity: 0.7; alpha ( opacity=50 );  }
.center-text-1 { width:228px; }
.center-text-2 { width:206px; }
.center-text-3 { width:132px; }

.about { width:203px; border-top:2px solid #cc8091; margin-top:32px; }
.about h1 { font-size:18px; color:#000; font-family: '微软雅黑'; line-height: 40px; position: relative; }
.about span { font-size:24px; }
.about h1 b  { display: block; width:70px; height:2px; background: #322f2f; position: absolute; top:32px; }
.about h1 .b2 { width:132px; }
.about p { font-size:12px; color:#676767; font-family: '楷体'; line-height: 10px; }
.about em { font-size:100px; margin-left: -14px; color:#75b86b; font-family: '微软雅黑'; }
.about-3 { color:#cc8091; font-family: '微软雅黑'; }
.about-3 p { font-size:55px; float: left; color:#cc8091;}
.about-3 .about-3-css p { font-size:21px; }
.about-3 .about-3-css span { display: block; font-size: 12px;  }

.topic { width:415px; border-bottom: 2px solid #000; }
.topic h1 { color:#11456b; font-family: '黑体'; line-height: 40px; font-size:42px; }
.topic h1 em { font-size:72px; color:#f5e327; font-family: '黑体'; }
.topic h2 { font-size:33px; color:#11456b; font-family: '黑体';  }

.text { width:415px; margin-top:26px; }
.text p { font-size:12px; color:#767777; font-family: '宋体'; line-height: 16px; }
.text p em { display:block; float: left;  width:70px; height:70px; margin-right: 6px; line-height: 70px; font-size: 70px; color:#f5e327; font-family: '微软雅黑'; font-style: normal; }
.text img { float:right; margin:22px 0 22px 12px; }

.ri { width:458px; }
.ri .img { position: relative; width:458px; height:257px; background: url(../img/task_1_6_mainpic2.jpg); }
.img .opacity { width:458px; height: 61px; position: absolute; top:194px; left:0; background: #000; opacity: 0.5; filter: alpha(opacity=50); }
.img .img-text { height:44px; width:458px; position: absolute; top:194px; left:0; line-height: 44px; }
.img .img-text h2 { display: inline-block; height:44px; margin-left:38px; margin-top:8px; text-indent: 12px; border-left:3px solid #72b16a; color:#fff; }
.img .img-text em { padding-left: 8px; font-size:12px; color: #72b16a; font-family: '微软雅黑'; letter-spacing: 2px; }
.ri .bottom { width:458px; height:320px; background: #eeeed6; }
.bottom ul { margin-left:32px; margin-top:30px; padding-top:32px; }
.bottom li { display: inline-block; height:40px; font-size: 16px; font-family: '宋体'; text-align: left; list-style-image: url(../img/test6-li.png); }
.bottom .bottom-left-text { width:260px; height:160px; float:left; background:#d55d5c; }
.bottom-left-text h3 { float:left; height:86px; width:54px; padding-left:14px; font-size: 86px; color:#fff; border-right:2px solid #fff; }
.bottom-left-text p { float:right; }