@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a,b { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.26rem; font-weight: normal; }
body { height: 100%; background-color: #eee; }
h1 { font-size:0.36rem; }
h2 { font-size:0.32rem; }
li { list-style: none; }
a { text-decoration: none; }
b { font-weight: normal; }
em { font-style: normal; }

.clear {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}

/* 头部 */
body .top-title { background-color: #3da982; color:#fff; margin-bottom: 0; }
body .top-title a { font-size:.28rem; color:#fff; }
body .top-title .img-float img { width: .23rem; height: .38rem; }

/* 内容 */

.user { background-color: #fff; margin-bottom: 1px; padding-bottom: .1rem; }
.user .user-info { float:left; margin-left: .2rem; }
.user .user-info img,.user .user-info p { float: left; }
.user .user-info img { width: .88rem; height: .88rem; margin-top:.16rem; }
.user .user-info p { line-height: .44rem; margin-top: .16rem; margin-left:.2rem; font-size: .32rem; font-family: "黑体"; }
.user .user-info span { font-size:.24rem; color:#555;}
.user .action { float: right; width: 1.2rem; height: 1.2rem; overflow: hidden; margin-top:.2rem; margin-right: .2rem; border-radius: .03rem; background-color: #a9c8e4; color:#fff; text-align: center; line-height:.64rem; }
