@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a,b { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.26rem; font-weight: normal; }
h1 { font-size:0.36rem; }
h2 { font-size:0.32rem; }
li { list-style: none; }
a { text-decoration: none; }
b { font-weight: normal; }
em { font-style: normal; }

/* 头部 */
.top-title { height:1.28rem; padding:0 .2rem; background-color: #fffaf3; }
.top-title { display: flex; display: -webkit-flex; }
.top-title span { flex:1; text-align: center; font-size: .24rem; color:#fff; }
.top-title span:first-child { text-align: left; }
.top-title span:first-child img { width:.69rem; height:.2rem; }
.top-title span:last-child { text-align: right; }
.top-title span:last-child img { width:.5rem; height:.2rem; }

.top-bg { position: relative; margin-bottom: .38rem; }
.top-bg img { width: 100%; border-top:1px solid #777; }
.top-bg .top-bg-opacity { position: absolute; top:0; z-index: 1; width:100%; height:.67rem; background: rgba(0,0,0,0.4); }
.top-name { position: absolute; left:.2rem; bottom:0; z-index: 2; }
.top-name .top-name-text { float:left; margin-left:.2rem; text-align: left; font-size:.24rem; color:#fff; }
.top-name .top-name-text h1 { color:#000; line-height: .44rem; }
.top-name .top-name-text span { color:#fff; line-height: .3rem; }
.top-name img { width:1.28rem; padding:0.03rem; background-color: #fff; border:1px solid #e5e5e5; float:left;  }
.top-bg .camera { width:1rem; height: .4rem; float: right; margin-top:-.57rem; margin-right:.1rem; border:none; }
.top-bg .camera span { display: inline-block; float: left; margin-right: .2rem; }
.top-bg .camera span img { width:.4rem; height: .4rem; margin: 0; } 
.top-bg .camera img { display: inline-block; width:.36rem; height: .35rem; padding:0; margin:0; border:none; margin-top: .04rem; } 

/* 新消息通知 */
.news { width:2.33rem; height: .64rem; line-height: .64rem; border-radius: .03rem; margin:0 auto .38rem; background-color:#222329; }
.news img { vertical-align: middle; width:.42rem; height:.42rem; margin-left:.2rem; margin-right:.1rem; }
.news span { font-size: .28rem; color:#fff; margin-right:.1rem; vertical-align: middle; }
.news .news-num { display: inline-block; vertical-align: middle; width:.28rem; height: .28rem; background:url(../img/point.png) no-repeat; background-size:.28rem; color:#fff; font-size:.14rem; line-height: .28rem; text-align: center; }

/* 具体内容 */
.section2 .block-task-top { display: none; }
.section2 .ignore { display: block; }

.section3 .block-task-top { display: none; }
.section3 .ignore { display: block; } 

.section4 .block-task-top { display: none; }
.section4 .ignore { display: block; } 

.section5 .block-task-top { display: none; }
.section5 .ignore { display: block; }

.section6 .block-task-top { display: none; }
.section6 .block-more-content { display: block; }
.section6 .block-dialog .block-dialog-fav { display: block; }

.section7 .block-task-top { display: none; }