@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a,b { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.26rem; font-weight: normal; }
body { height: 100%; background-color: #eee; }
h1 { font-size:0.36rem; }
h2 { font-size:0.32rem; }
li { list-style: none; }
a { text-decoration: none; }
b { font-weight: normal; }
em { font-style: normal; }

/* 头部 */
.top-title { display: flex; display: -webkit-flex; align-items:center; height:1.28rem; background-color: #fffaf3; margin-bottom: .2rem; overflow: auto; }
.top-title .img-float { flex: 3;  }
.top-title .img-float img { width:.3rem; height:.3rem; margin-left:.2rem; margin-top:.1rem; }
.top-title h1 { flex:6; text-align: center; }
.top-title a { flex: 3; text-align: right; margin-right:.2rem; font-size:.8rem; color:#000; }

/* 内容 */
.rent { height:.8rem; line-height: .8rem; background-color: #fff; margin-bottom: .2rem; }
.rent span { display: inline-block; width: 48%; text-indent: .2rem;  text-align: left; }
.rent span:last-child { text-align: right; margin-right:.2rem; color:#9ca4d4; }

.content { width:7.08rem; height: 5.1rem; margin:0 auto .2rem; border:.02rem solid #e5e5e5; padding:.09rem; background-color:#fff; }
.content img { width: 7.08rem; }
.content .top-bg-opacity { position: relative; height:.67rem; margin-top: -.73rem; background:rgba(0,0,0,0.4); }
.content .top-name { position: absolute; top:0; left:.2rem; }
.content .top-name img { float:left; border:.01rem solid #e5e5e5; padding: .03rem; background-color: #fff; width:1.28rem; height: 1.28rem; }
.content .top-name h1 { float: left; margin-left:.18rem; margin-top: .1rem; color:#fff; }

body .footer li { margin:0 1rem; }/* 控制底部图标的位置 */
