@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a,b { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.26rem; font-weight: normal; }
body { height: 100%; background-color: #eee; }
h1 { font-size:0.28rem; }
h2 { font-size:0.32rem; }
li { list-style: none; }
a { text-decoration: none; }
b { font-weight: normal; }
em { font-style: normal; }

.clear {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}

/* 头部 */
body .top-title { border-bottom: 1px solid #e5e5e5; margin-bottom: 0; }
body .top-title .img-float img { width:.23rem; height: .38rem; }

/* 内容 */
.content { margin-bottom: .1rem; }
.content .top { line-height:.6rem; background-color: #fff;  }
.content .top p { display: inline-block; width: 48%; vertical-align: middle; }
.content .top p:last-child { text-align: right; color:#e60012; }
.content .top p img { vertical-align: middle; margin:0 .2rem; }
.content .top p img:first-child { width: .35rem; height: .3rem; }
.content .top p img:last-child { width: .47rem; height: .47rem; margin-left:.1rem; }
.content .info { position: relative; padding-top:.2rem; padding-bottom: .2rem; }
.content .info span { display: inline-block;  }
.content .info img { float: left; width: 1.48rem; height: 1.48rem; vertical-align: top; margin-left: .2rem; margin-right: .2rem; }
.content .info .info-content { position: relative; width: 70%; float: left; }
.content .info .text  { position: absolute; top:0; left:0; width: 100%; line-height: .4rem; height: .8rem; overflow: hidden; }
.content .info .price { position: absolute; right: .2rem; top:1.2rem; display: block; float: right; margin-top:.1rem; margin-right: .2rem; }
.content .info .price b { font-size: .3rem; margin-right: .1rem; font-weight: normal; }
.content .pay { text-align: right; background-color: #fff; line-height: .42rem; }
.content .pay p {  border-bottom: 1px solid #e5e5e5; font-size: .2rem; padding-right: .2rem; }
.content .pay span { display: inline-block; line-height: .3rem; font-size:.2rem; border:1px solid #e60012; border-radius: .04rem; color:#e60012; padding:0 .1rem; margin:.1rem .2rem; }

.content .none span { display: none; } /* 去掉去支付的按钮 */