@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.26rem; font-weight: normal; }
body { height: 100%; }
h1 { font-size:0.36rem; }
h2 { font-size:0.26rem; }
li { list-style: none; }
a { text-decoration: none; }
.clear :after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}

/* 头部 */
.header { height:.96rem; line-height: .96rem; margin-bottom: .32rem; background-color: #fffaf3; border-bottom: .02rem solid #d3d3d3; }
.header span { float: left; margin-left:.2rem; }
.header span img { width:.32rem; height: .32rem; vertical-align: middle; margin-right:.12rem; }
.header a { float:right; margin-right: .42rem; color:#000; }

/* 内容 */
.content .user { padding-bottom: .4rem; }
.user img { display: block; float: left; margin-left:.4rem; width:1.4rem; height: 1.4rem; }
.user p { display: block; float: left; margin-left:.3rem; padding-top:.04rem; }
.user p span { display: inline-block; height:.42rem; width:.82rem; line-height: .42rem; margin-top:.44rem; text-align: center; color:#fff; font-family: '宋体'; border-radius: .03rem; background-color: #acd598; }
.user .apply { float:right; width: 1.7rem; min-width: 90px; height: .48rem; line-height: .48rem; text-align: center; font-size: .2rem; color:#fff; margin-top:.55rem; margin-right:.21rem; border-radius: .24rem; background-color: #9ea6d7; cursor: pointer;  }

.order { }
.order li {line-height: .7rem; padding-left:.4rem; border-top:.02rem solid #eee; }
.order li h2,.order li p { display: inline-block; vertical-align: middle; }
.order li p { font-family: '宋体'; float: right;  }
.order li p img { width:.47rem; height:.47rem; vertical-align: middle; margin-right:.4rem; }
.order li:last-child { border-bottom: .02rem solid #eee; }
.order li ul li { line-height: .7rem; line-height: .7rem; border-bottom:.02rem solid #eee; }
.order li ul li:last-child { border:none; }
.order li ul li img { width:.47rem; height: .47rem; vertical-align: middle; margin-right:.3rem; }
.order li ul li img:last-child { float: right; margin-top:.1rem; margin-right:.4rem; }