@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.26rem; font-weight: normal; }
h1 { font-size:0.36rem; }
h2 { font-size:0.32rem; }
li { list-style: none; }
a { text-decoration: none; }


/* 头部 */
.top-title { height:.9rem; margin:0 .2rem; line-height: .9rem;  }
.top-title a img { float:left;  width:.23rem; height:.38rem; margin-top:.22rem; }
.top-title h1 { text-align: center; }

.top-bg { position: relative; margin-bottom: 1.4rem; }
.top-bg img { width: 100%; border-top:1px solid #777; }
.top-bg .top-bg-opacity { position: absolute; bottom:.06rem; z-index: 1; width:100%; height:.67rem; background: rgba(0,0,0,0.4); }
.top-name { position: absolute; right:.2rem; top:0; z-index: 2; }
.top-name p { float:left; margin-right:.27rem; text-align: right; line-height: .64rem; font-size:.24rem; color:#fff; }
.top-name p span { color:#777; }
.top-name img { width:1.28rem; padding:0.03rem; background-color: #fff; border:1px solid #e5e5e5;  }

/* 具体内容 */
.section2 .block-task-top { display: none; }
.section2 .ignore { display: block; }

.section3 .block-task-top { display: none; }
.section3 .ignore { display: block; } 

.section4 .block-task-top { display: none; }
.section4 .ignore { display: block; } 

.section5 .block-task-top { display: none; }
.section5 .ignore { display: block; } 

.section6 .block-task-top { display: none; }
.section6 .block-more-content { display: block; }
.section6 .block-dialog-fav { display: block; }

.section7 .block-task-top { display: none; }