@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a,b { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.26rem; font-weight: normal; }
body { height: 100%; background-color: #eee; }
h1 { font-size:0.28rem; }
h2 { font-size:0.32rem; }
li { list-style: none; }
a { text-decoration: none; }
b { font-weight: normal; }
em { font-style: normal; }

.clear :after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}

/* 头部 */
body .top-title { border-bottom: 1px solid #e5e5e5; }
body .top-title .img-float img { width:.23rem; height: .38rem; }

/* 内容 */
.add { margin-top:.2rem; margin-bottom: .2rem; text-align: center; background-color: #fff; padding-top:.2rem; padding-bottom: .2rem; }
.add p { display: inline-block; vertical-align: middle; line-height: .6rem; }
.add .a { width: .4rem; text-align: center; }
.add .c { width: .4rem; text-align: center; }
.add .a img { width: .36rem; height: .36rem; }
.add .c img { width: .47rem; height: .47rem; }
.add .b { width: 6rem; text-align: left; }
.add .b .add-user { display: block; }
.add .b .add-title span { display: inline-block;line-height: .5rem; }
.add .b .add-title span:first-child { width: 1.3rem; min-width: 64px; vertical-align: top; }
.add .b .add-title span:last-child { width:3.9rem;  }

.items { margin-bottom: .08rem; }
.items p { line-height: .8rem; margin-bottom: 1px;  background-color: #fff; }
.items p img { width: .35rem; height: .3rem; vertical-align: middle; margin-right: .1rem; margin-left:.2rem; }
.items .items-info { background-color: #fff; }
.items .items-info img { display: inline-block; width: 1.48rem; height: 1.48rem; vertical-align: middle; margin-left:.4rem; margin-top:.2rem; margin-bottom: .2rem; }
.items .items-info p { display: inline-block; vertical-align: middle; line-height: .8rem; margin-left:.2rem; }
.items .items-info p span { color:#af1412; }
.items .items-info .num { display: inline-block; float: right; line-height: .3rem; margin-top:1.2rem; margin-right: .2rem; }

.send { line-height: .9rem; background-color: #fff; margin-top: .2rem; margin-bottom: .2rem; }
.send span { display: inline-block; width: 46%; vertical-align: middle; margin-left:.2rem; }
.send span img { width: .47rem; height: .47rem; vertical-align: middle; margin-left:.2rem; }
.send span:last-child { text-align: right; }

.cost li { line-height:.9rem; background-color: #fff; margin-bottom: 1px; }
.cost li span { display: inline-block; width: 44%; margin-left:.2rem; }
.cost li span:last-child { text-align: right; color:#af1412; }

.submit { position: fixed; bottom:0; height: 1.12rem; width: 100%; line-height: 1.12rem; background-color: #fff; border-top: 1px solid #e5e5e5;text-align: right; }
.submit span ,.submit p { display: inline-block;  }
.submit span { color:#af1412; }
.submit p { background-color: #ec6941; padding:0 .3rem; color:#fff; margin-left: .2rem; }
