@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a,b { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.26rem; font-weight: normal; }
body { height: 100%; background-color: #f7f7f7; }
h1 { font-size:0.28rem; }
h2 { font-size:0.32rem; }
li { list-style: none; }
a { text-decoration: none; }
b { font-weight: normal; }
em { font-style: normal; }

.clear :after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}

/* 头部 */
body .top-title { border-bottom: 1px solid #e5e5e5; }
body .top-title .img-float img { width:.23rem; height: .38rem; }

/* 内容 */
.info { line-height: .9rem; background-color: #fff; padding:.2rem; padding-right:0; border-bottom: 1px solid #e5e5e5; }
.info span img:first-child { width: .88rem; height: .88rem; vertical-align: middle; }
.info span img:last-child { width: .47rem; height: .47rem; vertical-align: middle; }
.info span { display: inline-block; width: 49%; vertical-align: middle; }
.info span:last-child { text-align: right; color:#777; }