@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a,b { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.25rem; font-weight: normal; }
body { height: 100%; }
h1 { font-size:0.36rem; }
h2 { font-size:0.32rem; }
li { list-style: none; }
a { text-decoration: none; }
b { font-weight: normal; }
em { font-style: normal; }

/* 头部 */
.top-title { display: flex; display: -webkit-flex; align-items:center; height:1.28rem; background-color: #fffaf3; margin-bottom: .2rem; overflow: auto; }
.top-title .img-float { flex: 3;  }
.top-title .img-float img { width:.23rem; height:.38rem; margin-left:.2rem; margin-top:.1rem; }
.top-title h1 { flex:6; text-align: center; }
.top-title span { flex: 3; }

/* 内容 */

.content img { width:.47rem; height: .47rem; float: right; margin-right:.2rem; margin-top:.2rem; }
.content li { line-height: .8rem; color:#a0a0a0; border-bottom: .02rem solid #e5e5e5; text-indent: .2rem; }
.content li input { font-size:.25rem; color:#a0a0a0; border:none; outline: none; }
.content .add { height: 1.2rem; }
.content .add textarea { height: .8rem; width: 70%; overflow: auto; background: none; margin-top:.2rem; line-height: .4rem; border:none; resize: none; font-size: .25rem; color:#a0a0a0; vertical-align: top; }
.content li span { display: inline-block; width:5rem;  }
.content li:last-child span { vertical-align: top; }
.button { width:7.12rem; height: .92rem; position: absolute; bottom:.2rem; left:3.75rem; margin-left:-3.56rem; background-color: #ec6941; border-radius: .03rem; line-height: .92rem; color:#fff;  font-size:.35rem; text-align: center;  }