@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.19rem; }
h1,h2 { font-weight: normal; }
h1 { font-size:0.36rem; }
h2 { font-size:0.2rem; }
li { list-style: none; }
a { text-decoration: none; }

/* 结构样式 */

.top-title { height:.9rem; margin:0 .2rem; line-height: .9rem;  }
.top-title a { float:left; font-size:.36rem; color:#000; }
.top-title h1 { text-align: center; }

.top-bg { position: relative; }
.top-bg img { width: 100%; border-top:.01rem solid #777; }
.top-bg .top-bg-opacity { position: absolute; bottom:.04rem; z-index: 1; width:100%; height:.67rem; background: rgba(0,0,0,0.3); }
.top-name { position: absolute; right:.2rem; bottom:-.67rem; z-index: 2; }
.top-name p { float:left; margin-right:.27rem; text-align: right; line-height: .64rem; font-size:.24rem; color:#fff; }
.top-name p span { color:#777; }
.top-name img { width:1.28rem; padding:0.03rem; background-color: #fff; border:0.01rem solid #e5e5e5;  }


/* 通用的块 */




