@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a { margin:0; padding:0; font-size:19px; font-color:#000; font-family: '微软雅黑'; }
h1,h2 { font-weight: normal; }
h1 { font-size:36px; }
h2 { font-size:20px; }
li { list-style: none; }
a { text-decoration: none; }
body { min-width:  }

/* 结构样式 */

.top-title { height:90px; margin:0 2.6667%; line-height: 90px;  }
.top-title a { float:left; font-size:36px; }
.top-title h1 { text-align: center; }

.top-bg { position: relative; }
.top-bg img { width: 100%; border-top:1px solid #777; }
.top-bg .top-bg-opacity { position: absolute; bottom:4px; z-index: 1; width:100%; height:50%; background: rgba(0,0,0,0.3); }
.top-name { position: absolute; right:2.6667%; bottom:-67px; z-index: 2; }
.top-name p { float:left; margin-right:27px; text-align: right; line-height: 64px; font-size:24px; color:#fff; }
.top-name p span { color:#777; }
.top-name img { width:50%; padding:0.4%; background-color: #fff; border:1px solid #e5e5e5; }


/* 通用的块 */




