@charset "utf-8";

/* 格式化样式 */

html,body,p,h1,h2,ul,li,a { margin:0; padding:0; font-color:#000; font-family: '微软雅黑'; font-size:.26rem; font-weight: normal; }
h1 { font-size:0.36rem; }
h2 { font-size:0.32rem; }
li { list-style: none; }
a { text-decoration: none; }


/* 结构样式 */

.top-title { height:.9rem; margin:0 .2rem; line-height: .9rem;  }
.top-title a { float:left; font-size:.36rem; color:#000; }
.top-title h1 { text-align: center; }

.top-bg { position: relative; margin-bottom: 1.4rem; }
.top-bg img { width: 100%; border-top:1px solid #777; }
.top-bg .top-bg-opacity { position: absolute; bottom:.06rem; z-index: 1; width:100%; height:.67rem; background: rgba(0,0,0,0.3); }
.top-name { position: absolute; right:.2rem; top:0; z-index: 2; }
.top-name p { float:left; margin-right:.27rem; text-align: right; line-height: .64rem; font-size:.24rem; color:#fff; }
.top-name p span { color:#777; }
.top-name img { width:1.28rem; padding:0.03rem; background-color: #fff; border:1px solid #e5e5e5;  }

/* 通用的块 */
.block { margin:0 .2rem; }
.block .block-user { width:.88rem; float: left; margin:0 .2rem 0 .08rem; }
.block .content { margin-left:1.17rem; }
.block .content p { color:#777; line-height: .44rem; margin-bottom:.1rem; }
.block .content h2 { line-height: .44rem; }
.block .block-img { height: 2.8rem; width: 4.34rem; margin-bottom: .2rem; overflow: hidden; }
.block .block-img img { width: 100%; }
.block .block-task-top p { display: inline-block; color:#000; }
.block .block-task-top { margin-bottom: .1rem; }
.block-task-top p img { width:.3rem; vertical-align:middle; margin-right:.1rem; } 
.block-task-top a { margin-left:.45rem; color:#777; }
.ignore { display: none; margin-bottom:.1rem; }
.block .block-task-list li { color:#777; margin-bottom:.14rem; font-size:.2rem; }
.block-dialog { position: relative; }
.block-dialog .block-dialog-fav { display: none; width:100%; height: .57rem; background-color:#f0f2f5; border-radius: .03rem .03rem 0 0; border-bottom:.02rem solid #fff; }
.block-dialog-fav img { margin-left:.1rem; margin-right: .2rem; vertical-align: middle; }
.block-dialog-fav ul,.block-dialog-fav li { display: inline-block; margin-right:.2rem; line-height: .57rem; color:#a9c8e4; }
.block-dialog-text { width: 100%; background:#f0f2f5; border-radius: .03rem; }
.block-dialog-text img { width:.3rem; height: .3rem; margin-left:.13rem; margin-top:.2rem; float: left; }
.block-dialog-text ul { margin-left:.57rem; margin-top:.2rem; padding-top:.16rem; padding-left:.1rem; padding-bottom:.1rem; padding-right:.2rem; }
.block-dialog-text li { margin-bottom:.1rem; font-size:.2rem; color:#777; }
.block-dialog-text li a { color:#a9c8e4; font-size:.2rem; }
.block-dialog .block-arrow { position: absolute; top:-.15rem; right:.1rem; border:.08rem solid #fff; border-bottom-color: #f0f2f5; background:#f0f2f5; }
.block-dialog .block-more { position: absolute; top:-.44rem; right:.03rem; width:.3rem; height:.3rem; }
.block-dialog .block-more img { width:.3rem; height: .3rem; }
.block-more-content { display: none; position: absolute; top:-.22rem; right:.48rem; width:4.04rem; height: .64rem; background-color: #777; border-radius: .03rem; color:#fff; }
.block-more-content .block-more-arrow { position: absolute; right:-.15rem; top:.24rem; border:.08rem solid #fff; border-left-color: #777; }
.block-more-content li { display: inline-block; line-height: .64rem; margin:0 .23rem; }
.block-more-content li img { vertical-align: middle; width:.4rem; height: .4rem; margin-right: .06rem; }
.block-dialog { margin-bottom: .2rem; }

.line { width:100%; height: .02rem; background:#e5e5e5; margin-bottom:.26rem; }

/* 具体内容 */
.section2 .block-task-top { display: none; }
.section2 .ignore { display: block; }

.section3 .block-task-top { display: none; }
.section3 .ignore { display: block; } 

.section4 .block-task-top { display: none; }
.section4 .ignore { display: block; } 

.section5 .block-task-top { display: none; }
.section5 .ignore { display: block; } 